---
layout: default
---
    <style>
      @font-face {
        font-family: 'bio_bold';
        src: url('/specimen/css/bio/biosans-bold.woff2') format('woff2'),
        url('/specimen/css/bio/biosans-bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
      }
      @font-face {
        font-family: 'bio_regular';
        src: url('/specimen/css/bio/biosans-regular.woff2') format('woff2'),
        url('/specimen/css/bio/biosans-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'zwo_bold';
        src: url('/specimen/css/zwo/ZwoOT-Extrabold.woff2') format('woff2'),
        url('/specimen/css/zwo/ZwoOT-Extrabold.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'zwo_regular';
        src: url('/specimen/css/zwo/ZwoOT.woff2') format('woff2'),
        url('/specimen/css/zwo/ZwoOT.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'mark_bold';
        src: url('/specimen/css/mark/MarkOffcPro-Heavy.woff2') format('woff2'),
        url('/specimen/css/mark/MarkOffcPro-Heavy.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'mark_regular';
        src: url('/specimen/css/mark/MarkOffcPro-Book.woff2') format('woff2'),
        url('/specimen/css/mark/MarkOffcPro-Book.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }

      @font-face {
        font-family: 'unica_bold';
        src: url('/specimen/css/unica/NeueHaasUnicaPro-Heavy.woff2') format('woff2'),
        url('/specimen/css/unica/NeueHaasUnicaPro-Heavy.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'unica_regular';
        src: url('/specimen/css/unica/NeueHaasUnicaPro-Light.woff2') format('woff2'),
        url('/specimen/css/unica/NeueHaasUnicaPro-Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }

      @font-face {
        font-family: 'cera_bold';
        src: url('/specimen/css/cera/CeraPRO-Bold.woff2') format('woff2'),
        url('/specimen/css/cera/CeraPRO-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'cera_regular';
        src: url('/specimen/css/cera/CeraPRO-Regular.woff2') format('woff2'),
        url('/specimen/css/cera/CeraPRO-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }

      @font-face {
        font-family: 'avenir_bold';
        src: url('/specimen/css/avenir/bold.woff2') format('woff2'),
        url('/specimen/css/avenir/bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
      @font-face {
        font-family: 'avenir_regular';
        src: url('/specimen/css/avenir/regular.woff2') format('woff2'),
        url('/specimen/css/avenir/regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;

      }
    {% for font in site.fonts %}
    .{{ font.title }} {
      font-family: '{{ font.title }}_regular';
    }
    .{{ font.title }} .h1,
    .{{ font.title }} .h2,
    .{{ font.title }} .h3,
    .{{ font.title }} .h4,
    .{{ font.title }} .h5,
    .{{ font.title }} .h6
    {
      font-family: '{{ font.title }}_bold';
    }
    {% endfor %}
    </style>

    {% for font in site.fonts %}

    <div class="container mx-auto {{font.title}}">
      <div class="clearfix mxn2 mt4">
        <div class="col-6 col px2">
          <h1 class="h1 m0" style="font-size: 72px; line-height: 1.2;">{{ font.title | capitalize }}</h1>
        </div>
      </div>
      <div class="clearfix mxn2 mt4">
        <div class="col-6 col px2">
          <h3 class="caps h6">Samples</h3>
          <p style="line-height: 1.4; font-size: 18px;">
            <span class="gray">18</span> As the Envoy Global admin, you’ll use the powerful and intuitive web dashboard to manage locations, configure account settings and import employee contacts. You also have the flexibility to assign admin roles to others in the company, giving them the specific admin permissions they need.
          </p>
          <p style="line-height: 1.4; font-size: 17px;">
            17. As the Envoy Global admin, you’ll use the powerful and intuitive web dashboard to manage locations, configure account settings and import employee contacts. You also have the flexibility to assign admin roles to others in the company, giving them the specific admin permissions they need.
          </p>
          <p style="line-height: 1.4; font-size: 16px;">
            16. As the Envoy Global admin, you’ll use the powerful and intuitive web dashboard to manage locations, configure account settings and import employee contacts. You also have the flexibility to assign admin roles to others in the company, giving them the specific admin permissions they need.
          </p>
          <p style="line-height: 1.4; font-size: 15px;">
            15. As the Envoy Global admin, you’ll use the powerful and intuitive web dashboard to manage locations, configure account settings and import employee contacts. You also have the flexibility to assign admin roles to others in the company, giving them the specific admin permissions they need.
          </p>
          <p style="line-height: 1.4; font-size: 14px;">
            14. As the Envoy Global admin, you’ll use the powerful and intuitive web dashboard to manage locations, configure account settings and import employee contacts. You also have the flexibility to assign admin roles to others in the company, giving them the specific admin permissions they need.
          </p>
        </div>
        <div class="col-6 col px2">
          <h3 class="caps h6">Characters</h3>
          <p class="h1" style="font-size: 3.5rem;">
            A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
            <br>a b c d e f g h i j k l m n o p q r s t u v w x y z
            <br>1 2 3 4 5 6 7 8 9 0 & @ . , ? ! ’ “ ” ( )
          </p>
        </div>
      </div>
      <div class="clearfix border-bottom mb4 py4 mxn2">
        <div class="col-12 col px2">
          <h3 class="caps h6">Headlines</h3>
          <h1 class="h1 mt0 mb2" style="font-size: 72px; line-height: 1.2;"><span class="gray">72</span> Make your front desk delightful.</h1>
          <h1 class="h1 mt0 mb2" style="font-size: 48px; line-height: 1.2;"><span class="gray">48</span> Make your front desk delightful.</h1>
          <h1 class="h1 mt0 mb2" style="font-size: 42px; line-height: 1.2;"><span class="gray">42</span> Make your front desk delightful.</h1>
          <h1 class="h1 mt0 mb2" style="font-size: 36px; line-height: 1.2;"><span class="gray">36</span> Make your front desk delightful.</h1>
          <h1 class="h1 mt0 mb2" style="font-size: 30px; line-height: 1.2;"><span class="gray">30</span> Make your front desk delightful.</h1>
          <h1 class="h1 mt0 mb2" style="font-size: 22px; line-height: 1.2;"><span class="gray">22</span> Make your front desk delightful.</h1>
        </div>
      </div>
    </div>
    {% endfor %}
  
